{% extends "grimoire/base.html" %}
{% block content %}
<h1>Domains</h1>

<table class="table table-dark table-striped">
  <thead>
  <tr>
    <th scope="col">Domain</th>
    <th scope="col">Ip</th>
    <th scope="col">State SSL</th>
    <th scope="col">State domain</th>
    <th><a href="{% url 'grimoire_domain_add' %}" class="link-light" target="_blank"><i data-feather="plus"></i></a></th>
  </tr>
  </thead>
  <tbody>
  {% for e in object_list %}
  <tr>
    <th>{{e.domain_name}}</th>
    <td>{{e.ip|default_if_none:""}}</td>
    <td>{{e.stats_ssl.status}}</td>
    <td>{{e.stats_domain.status}}</td>
    <td><a class="link-light" href="{{e.get_absolute_url}}" target="_blank"><i data-feather="eye"></i></a></td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% include "grimoire/paginator.html" %}

{% endblock %}
